:root {
  --white: #FFFFFF;
  --light-gray: #DADFE8;
  --gray: #C3C4C5;
  --medium-gray: #6B727A;
  --light-brow: #C29791;
  --dark-yellow: #FCC719;  
  --pink: #ED8A8B;
  --bright-pink: #fa6668;
  --light-purple: #BA68C8;
  --medium-blue: #76BEFE;
  --medium-green: #49D0B0;

  --poppins: 'Poppins', sans-serif;
  --shaddow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html {
  box-sizing: border-box;
  font-size:62.5%;
  font-family: var(--poppins);
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokedex {
  display: flex;
  gap: 3em;
  padding: 3em 0;
}
h1 {
  font-size: 2.5em;
  font-weight: 800;
  color: var(--white);
}