.pokemon-card {
  display: none;
  box-shadow: var(--shaddow);
  border-radius: 1em;
}
.pokemon-card .top-card {
  padding: 3em 4em 0;
}
.pokemon-card .name {
  margin-bottom: 0.5em;
}
.pokemon-card .type {
  font-size: 1.2em;
  background-color: var(--white);
  opacity: 0.7;
  border-radius: 1em;
  padding: .2em 1em;
  box-shadow: var(--shaddow);
}
.pokemon-card .details {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pokemon-card .image-card {
  width: 350px;
  height: 350px;
}
.pokemon-card img {
  max-height: 100%;
}
.pokemon-card .info-card {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 8em 3em 5em;
  margin-top: -7em;
  border-bottom-left-radius: .8em;
  border-bottom-right-radius: .8em;
}
.pokemon-card .info-card h2 {
  font-size: 2em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--medium-gray);
}
.pokemon-card .info-card .status,
.pokemon-card .info-card .skills {
  padding: 0 01em;
  width: 18em;
}
.pokemon-card .info-card .status ul li,
.pokemon-card .info-card .skills ul li {
  border-bottom: 1px solid var(--gray);
  padding: 0 0 5px;
  font-size: 1.5em;
}
.pokemon-card.open {
  display: block;
}
.eletric-type {
  background-color: var(--dark-yellow);
}
.fire-type {
  background-color: var(--pink);
}
.water-type {
  background-color: var(--medium-blue);
}
.ghost-type {
  background-color: var(--light-purple);
}
.grass-type {
  background-color: var(--medium-green);
}
.dragon-type {
  background-color: var(--light-brow);
}